name: Container
on: push

jobs:
  node-docker:
    name: Start my app
    services:
      app:
        image: alialaa17/node-api
        ports:
          - 3000:3001
      mongo:
        image: mongo
        ports:
          - 27017:27017
    steps:
      - name: Log node version
        run: |
          npm -v
          cat /etc/os-release
